<p id="notice"><%= notice %></p>




  <h1>Cultivos de estudiantes</h1>


<div class = "table">

 <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Cultivo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

   
  </table>

</div>
  <%= link_to 'Nuevo Cultivo', new_farming_student_path %>


<script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>



