<html>

    
    <style>

          body{
              
              text-align: center;
              font-family: arial;
              font-size: 12px;
              margin-bottom: 10px;
              
               
          }


          
    </style>



   <body>
   	
		<h1>Nuevo cultivo de estudiante</h1>


		<%= render 'form' ,farming_student: @farming_student%>

		

	</body>

</html>